body {
	padding-top: 30px;
	/*background: url(../img/4background.jpg) repeat 0 0 fixed;*/
}

#options label.item.none img {
	border: 1px dotted #888;
}

#options label.item {
	display: inline;
	margin-right: 0px;
	cursor: hand;
	opacity: 0.8;
}
#options label.item:hover{
    opacity: 1;
}
#options label.item .tooltip {
	text-transform:capitalize;
}

#options label.item input {
	display: none;
}

#options label.item img {
	width: 90px;
}

#preview {
	height: 700px;
}

#preview img {
	top: 0px;
	width: 100%;
	position: absolute;
}

.footer {
	margin: 20px 0px;
	font-size: 12px;
	text-align: right;
}

.big-gopher {
	width: 100%;
}

.options-panel {
	margin-top: 200px;
}
.options-panel-mob {
	margin-top: 20px;
}

.panel-body {
	max-height: 390px;
	overflow-y: scroll;
}
#liqpay {
	border: none;
	display: inline-block;
	text-align: center;
	padding: 7px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	font-family: OpenSans, sans-serif;
	cursor: pointer;
	border-radius: 5px;
	background: rgb(122, 183, 43);
}
#payment{
	display: none;
	position: relative;
}
#cancel{
	position: absolute;
	top:0;
	right:0;
}

.range-slider .input-range {
	-webkit-appearance: none;
	width: 75%;
	height: 10px;
	margin: 25px 0;
	display: inline-block;
	border-radius: 5px;
	background: #ccc;
	outline: none;
}
.range-slider .input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #353535;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
.range-slider .input-range::-webkit-slider-thumb:hover {
	background: rgb(122, 183, 43);
}
.range-slider .input-range:active::-webkit-slider-thumb {
	background: rgb(122, 183, 43);
}
.range-slider .input-range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #353535;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb:hover {
	background: rgb(122, 183, 43);
}
.range-slider .input-range:active::-moz-range-thumb {
	background: rgb(122, 183, 43);
}
.range-slider .range-value {
	display: inline-block;
	position: relative;
	width: 20%;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #353535;
	padding: 5px 10px;
	margin-left: 7px;
	border: none;
}
.range-slider .range-value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #353535;
	border-bottom: 7px solid transparent;
	content: '';
}
::-moz-range-track {
	background: #ccc;
	border: 0;
}
input::-moz-focus-inner {
	border: 0;
}
#liqpay-logos {
	width: 30%;
	float: right;
	margin-right: 10%;
}
.logo-holder {
	width: 40%;
	display: inline-block;
}
.logo-holder img {
	width: 60%;
	cursor: pointer;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
	position: fixed!important;
	top: 10%!important;
	left:20%!important;
	right: 20%!important;
	width: 60%!important;
	max-height: 80vh;
	overflow-y: scroll;
	border: 3px solid green;
}
* {
	-ms-overflow-style: none;  // IE 10+
overflow: -moz-scrollbars-none;  // Firefox
}
* ::-webkit-scrollbar {
	display: none;
}
.ui-dialog a{
	color: green!important;
	text-decoration: underline;
}
.ui-dialog a:focus{
	outline: none;
}
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle{
	background: transparent;
	border: none;
	cursor: default;
}
.glyphicon.glyphicon-refresh {
	padding: 0 0.3em 0 0;
}
#logo {
	color: black;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 15vw;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 	15px;
}
#logo span{
	font-size: 50px;
}
#logo hr{
	border: 2px solid black;
	margin: 0;
}
.green{
	color: green;
}
#logo img{
	width: 100%;
	height: auto;
}
footer{
	position: fixed;
	bottom: 20px;
	right: 0;
}
.panel-body{
	overflow-x: scroll;
}
.panel-body div{
	/*width: 100%;*/
}
@media all and (max-width: 1000px){
	.col.col-xs-8, .col.col-xs-4{
		width: 100%;
	}
}